.allProduct-box {
    background-color: rgb(223, 193, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}
/*Categories sort*/
.CategoriesAll-box {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: thistle;
}
.allProduct-lenght {
    font-size: 30px;
    color: rgb(17, 17, 17);
}
.CategoriesAll-HoveredColor {
    opacity: 1;
}
.CategoriesAll-CatList {
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-bottom: 25px;
}
.CategoriesAll-CatList li {
    opacity: 0.8;
    cursor: pointer;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.CategoriesAll-CatList li:hover {
    opacity: 1;
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: solid white 2px;
}
.CategoriesAll-CatListHovered {
    padding-top: 7px;
    padding-bottom: 5px;
    border-bottom: solid white 2px;
}
.CategoriesAll-SortList {
    padding-top: 25px;
    border-top: solid black 2px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-bottom: 25px;
    font-size: 20px;
}
.CategoriesAll-SortList li {
    opacity: 0.8;
    cursor: pointer;
}
.CategoriesAll-SortList li:hover {
    opacity: 1;
}
.allProduct-ProductsBox {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.allProduct-ProductsList{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(232, 216, 231);
}
/*Product*/
.allProducts-dummyBox {
    margin: 50px 50px 0px 50px;
    width: 350px;
    height: 650px;
}
.allProducts-ProductBox {
    background-color: white;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.allProducts-ProductBox:hover {
    transition: ease-out 0.1s;
    height: 650px;
    margin-top: -25px;
}
.allProducts-ProductBox img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}
.allProducts-ProductBox p {
    margin-top: 20px;
    font-size: 28px;
    display: flex;
}
.allProducts-Buttons {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    height: 150px;
}
.allProducts-ButtonsHovered {
    display: flex;
}
.allProducts-Buttons button {
    width: 250px;
    height: 45px;
    font-size: 25px;
}
.allProducts-Buttons button:nth-child(1) {
    background-color: rgb(49, 101, 112);
    border: none;
    color: white;
}
.allProducts-Buttons button:nth-child(2) {
    border: solid rgb(49, 101, 112) 2px;
    background-color: transparent;
    color: rgb(49, 101, 112);
}
.allProducts-Buttons button:nth-child(2):hover {
    transition: ease-in 0.2s;
    background-color: rgb(49, 101, 112);
    color: white;
}
@media only screen and (max-width: 1000px) {
    /*All Product resize*/
    .allProduct-box {
        width: 100%;
    }
}