* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
/*Header section*/
.page-NavBar {
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: solid #36655313 2px;
}
.logo-Name {
    color: #366553;
    flex: 1;
}
.navBar-Buttons {
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.navBar-Button {
    cursor: pointer;
    list-style: none;
    color: #374d44;
    padding: 10px; 
    border: solid rgba(0, 0, 0, 0) 2px;
}
.navBar-products:hover {
    border: solid #4d9b7d 2px;
    border-radius: 5px;
    transition: ease-in 0.2s;
}
/*Hamburger*/
 .nochange .bar1,.nochange .bar2,.nochange .bar3 {
    width: 40px;
    height: 4px;
    background-color: #366553;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .hamburgerMenu-options {
      top: 100px;
      left: 0%;
      width: 0%;
      height: 600px;
      display: flex;
      flex-direction: column;
      background-color: #4e6d61;
      position: absolute;
      list-style: none;
      text-align: center;
      justify-content: flex-start;
      transition: ease-out 0.4s;
      color: white;
  }
  .hamburgerMenu-option {
      opacity: 0;
      margin-top: 50px;
      font-weight: lighter;
  }
  .hamburgerMenu-optionsTransition {
      width: 50%;
      transition: ease-in 0.4s;
  }
  .hamburgerMenu-optionTransition {
    transition-delay: 0.5s;
    transition-duration: 0.3s;
      opacity: 1;
  }
/*Home page*/
.home-pageqqw {
    display: flex;
    flex-direction: column;
}
.home-Container {
    padding-top: 50px;
    display: flex;
    width: 80%;
    margin: auto;
}
.home-box1 {
    color: #191a21;
    background-color: #8ab95d;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    justify-content: space-evenly;
}
.home-box2 {
    width: 60%;
}
.home-Title {
    margin-left: 10%;
    text-align: left;
    width: 80%;
}
.home-Title h3 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
.home-Title h1 {
    font-size: 50px;
}
.home-content {
    margin-left: 10%;
    width: 80%;
    text-align: left;
}
.home-content p {
    line-height: 35px; 
    font-size: 25px;
}
.home-content button {
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #547436;
    width: 180px;
    height: 40px;
    margin-top: 25px;
}
/*home text*/
.home-text {
    padding-top: 50px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    max-height: 800px;
}
.home-text h3 {
    font-size: 20px;
    opacity: 0.4;
    font-weight: lighter;
}
.home-text h1 {
    margin-top: 25px;
    opacity: 0.8;
}
.home-textDesciption {
    margin-top: 25px;
    font-size: 18px;
    width: 60%;
    margin-left: 20%;
}