* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
@keyframes drop {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Header section*/
.dummyNavbar-Container {
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-bottom: solid rgba(32, 64, 71, 0.027) 2px;
}
.page-NavBar {
    z-index: 100;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.logo-Name {
    color: rgb(49, 101, 112);
    flex: 1;
}
.navBar-Buttons {
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.navBar-Button {
    cursor: pointer;
    list-style: none;
    color: #374d44;
    padding: 10px; 
    border: solid rgba(0, 0, 0, 0) 2px;
}
.navBar-products:hover {
    border: solid rgb(49, 101, 112) 2px;
    border-radius: 5px;
    transition: ease-in 0.2s;
}
/*Hamburger*/
 .nochange .bar1,.nochange .bar2,.nochange .bar3 {
    width: 40px;
    height: 4px;
    background-color: rgb(49, 101, 112);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .hamburgerMenu-options {
      top: 90px;
      left: 0%;
      width: 100%;
      height: calc(100% - 90px);
      background-color: rgb(255, 255, 255);
      position: fixed;
      z-index: 100;
      list-style: none;
      color: rgb(36, 68, 75);
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .hamburgerMenu-optionsTransition {
      display: flex;
  }
  .hamburgerMenu-option {
      cursor: pointer;
      font-size: 30px;
      margin-top: 80px;
      opacity: 0;
  }
  .hamburgerMenu-optionTransition {
      opacity: 1;
      transition: ease-in 0.4s;
      animation: drop 0.4s ease;
  }
  .hamburger-iconsList {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      width: 80%;
      margin: auto;
      opacity: 0;
  }
  .hamburger-iconsListTransition {
      opacity: 1;
      transition: ease-in 0.6s;
      animation: drop 0.6s ease;
  }
  .hamburger-iconsList li img {
      width: 40px;
      cursor: pointer;
      opacity: 0.85;
  }
  .hamburger-iconsList li img:hover {
      opacity: 1;
  }
/*Home page----------------------------------------------------*/
.homePage {
    display: flex;
    padding-top: 90px;
    color: #193439;
}
.homePage-PhotoSection {
    width: 100%;
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: center;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./Photos/teaHome.png);
}
.homePage-Text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
    height: 300px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.876);
    padding: 25px 25px 25px 50px;
}
.homePage-Text p {
    width: 80%;
}
.homePage-Text button {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    background-color: #193439;
    color: rgba(255, 255, 255, 0.931);
    border: none;
    border-radius: 5px;
}
/*Products section----------------------------------------------*/
.products-container {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
}
.products-boxFlex {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.products-list {
    justify-content: space-evenly;
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
    width: 1150px;
}
/*show more button*/
.products-ButtonShowMore {
    opacity: 0.9;
    width: 250px;
    height: 50px;
    border: none;
    background-color: #386251;
    font-size: 30px;
    color: white;
    border-radius: 2px;
    margin-left: 330px;
}
.products-ButtonShowMore:hover {
    transition: ease-in 0.1s;
    background-color: #3e7761;
}
/*About us section*/
.aboutUsContainer {
    display: flex;
    flex-direction: column;
}
.aboutUs-Title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #20545c;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.aboutUs-Background {
    background-image:
        linear-gradient(#19343950, #19343950),
        url(/src/Photos/AboutUs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh; /*or 500px*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
}
.aboutUs-Background h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 2.5px;
}
.aboutUs-ContentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
}
.aboutUs-ContentBox h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 22px;
    color: #193439;
}
.aboutUs-ContentText {
    display: flex;
    justify-content: space-evenly;
}
.aboutUs-ContentText div {
    width: 40%;
    text-align: left;
    font-size: 20px;
    line-height: 200%;
    font-weight: normal;
    color: #112124;
}
/*Footer section*/
.footer-ContainerDummy {
    background-color: #276069;
}
footer {
    padding-top: 100px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
footer h1 {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: solid white 2px;
}
.footer-DescSection {
    font-size: 18px;
    max-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-DescText {
    flex: 2;
}
.footer-DescAboutUs {
    margin-left: 25px;
    margin-right: 25px;
    flex: 1;
}
.footer-DescAboutUs h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-DescLinks {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.footer-DescLinks img {
    cursor: pointer;
    opacity: 0.8;
    width: 30px;
}
.footer-DescLinks img:hover {
    opacity: 1;
}
.footer-LinkSections {
    margin-top: 80px;
    padding-bottom: 80px;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-evenly;
}
.footer-LinkSections li {
    cursor: pointer;
    opacity: 0.8;
}
.footer-LinkSections li:hover {
    opacity: 1;
}











/*--------------------------in progress ----------------------------------------*/

.productDetails-box {
    background-color: rgb(124, 77, 77);
    height: 100vh;
}

/*--------------------------in progress ----------------------------------------*/