@media only screen and (max-width: 1000px) {
    .home-box2 {
        display: none;
    }
    .home-box1 {
        width: 100%;
    }
    .home-Title h3 {
        font-size: 20px;
    }
    .home-Title h1 {
        font-size: 35px;
    }
    .home-content p {
        font-size: 20px;
    }
    /*about us section*/
    .aboutUs-Background {
        height: 30vh;
    }
    .aboutUs-Background h1 {
        font-size: 45px;
        text-align: center;
    }
    .aboutUs-Title {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .aboutUs-ContentBox {
        padding-bottom: 25px;
    }
    .aboutUs-ContentBox h2 {
        font-size: 20px;
    }
    .aboutUs-ContentText {
        flex-direction: column;
    }
    .aboutUs-ContentText div {
        font-size: 15px;
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }
    /*ContactUS part*/
    .contactUs-Container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
    .contactUs-ContentText {
        display: none;
    }
    .contactUs-ContactOptions {
        text-align: left;
        width: 80%;
        margin: auto;
    }
    /*Footer section*/
    .footer-DescSection {
        justify-content: space-around;
    }
    .footer-DescAboutUs {
        display: none;
    }
    .footer-DescLinks {
        flex-direction: column;
        margin-left: 25px;
    }
    .footer-DescLinks img {
        margin-top: 10px;
    }
    .footer-DescText {
        flex: 4;
    }
    .footer-LinkSections {
        margin-top: 50px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px) {
    .products-ButtonShowMore {
        margin: 0;
    }
}