@media only screen and (max-width: 1000px) {
    .home-box2 {
        display: none;
    }
    .home-box1 {
        width: 100%;
    }
    .home-Title h3 {
        font-size: 20px;
    }
    .home-Title h1 {
        font-size: 35px;
    }
    .home-content p {
        font-size: 20px;
    }
    .aboutUs-Background h1 {
        font-size: 45px;
    }
    .aboutUs-Title {
        font-size: 15px;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width: 1024px) {
    .products-ButtonShowMore {
        margin: 0;
    }
}